<%= form_with(model: patient, local: true) do |form| %>
	<% if patient.errors.any? %>
		<div class="text-justify border-errors red white-text">
			<div id="container text-center error_explanation">
				<h2 class="text-center"><%= pluralize(patient.errors.count, 'error')%> impidieron que se gurdara al paciente</h2>
				<ul class="error-text">
					<% patient.errors.full_messages.each do |message|%>
						<li class="text-center"><%= message %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
	<div class="form-group">
		<%= form.number_field :code, class: 'form-control', placeholder: 'codigo'%>
	</div>
	<div class="form-group">
		<%= form.text_field :first_name, class: 'form-control', placeholder: 'nombres del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.text_field :last_name, class: 'form-control', placeholder: 'apellidos del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.number_field :age, class: 'form-control', placeholder: 'edad del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.text_field :phone, class: 'form-control', placeholder: 'telefono del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.text_field :email, class: 'form-control', placeholder: 'correo electronico' %>
	</div>
	<div class="form-group">
		<%= form.number_field :dpi, class: 'form-control', placeholder: 'documento de identificacion' %>
	</div>
	<div class="form-group">
	<div class="form-group">
		<label>Sexo</label>
		<div class="radio radio-info">
			<label for='femenino'>Femenino
			<%= form.radio_button :sex, 'Femenino', :checked => true, id: 'femenino' %>
			</label>
			<label for='masculino'>Masculino
				<%= form.radio_button :sex, 'Masculino', :checked => true, id: 'masculino' %>
			</label>
		</div>
	</div>
		<%= form.text_field :nit, class: 'form-control', placeholder: 'nit del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.text_field :manager, class: 'form-control', placeholder: 'encargado del paciente...'%>
	</div>
	<div class="form-group">
		<%= form.date_select :birthdate, class: 'form-control', placeholder: 'fecha de nacimiento del paciente...' %>
	</div>
	<div class="form-group">
		<%= form.text_area :alergies, class: 'form-control', placeholder: 'alergias del paciente...'  %>
	</div>
	<div class="form-group">
		<%= form.text_area :annotations,  class: 'form-control', placeholder: 'anotaciones sobre el paciente...'   %>
	</div>
	<div class="form-group text-right">
		<%= link_to 'Regresar a la lista', patients_path, class: 'text-info' %>
		<%= form.submit "Guardar", class: "btn btn-info"%>
	</div>
<% end %>  


